{% load filters %}

<script type="text/javascript">
banco_carteira_json = {% autoescape off %}{{ banco_carteira_json|to_json }}{% endautoescape %};

$(document).ready(function() {
    var bancos_tamanho_conta = {"2": 5, "1": 7, "6": 8, "4": 6};

    var alterar_carteiras = function(banco_id) {
        var carteira_select = $('#id_carteira');

        var carteiras = undefined;
        for (var i in banco_carteira_json) {
            if (i == banco_id) {
                carteiras = banco_carteira_json[banco_id];
            }
        }

        if (!carteiras) {
            // console.log('Seleção incorreta. Tenta novamente.');
        }

        carteira_select.empty();
        for (var j in carteiras) {
            $('<option>').attr({'value': j}).text(carteiras[j].nome).data('convenio', carteiras[j].convenio).appendTo(carteira_select);
        }
    };

    var bind_carteira_change = function() {
        $('#id_carteira').unbind().change(function() {
            var self = $(this);
            var convenio_parent = $('#id_banco_convenio').parents('.form-group');

            if (self.find(':selected').data('convenio') == true) {
                convenio_parent.show();
            } else {
                convenio_parent.hide();
            }
        }).change();
    };

    $('#id_banco').change(function() {
        var self = $(this);
        var selected = self.find(':selected');
        alterar_carteiras(selected.val());
        bind_carteira_change();

        banco_id = selected.val();
        tamanho = bancos_tamanho_conta[banco_id];
        if (!tamanho) {
            return false;
        }

        // console.log('a');

        var help_block = $('#id_banco_conta').parents('.form-group').find('.help-block');
        help_block.text(help_block.text().replace(/\d+/, tamanho));
    }).change();

    $('#id_empresa_cnpj').mask('99.999.999/9999-99');
});
</script>

{% if pagamento_configuracao and pagamento_configuracao.json %}
    <div class="alert alert-success">
        <h4>Emitir boleto de teste</h4>
        <p>Para testar as configurações de pagamento faça a emissão de um boleto de teste e verifique se o boleto foi gerado corretamente.</p>
        <p>
            <a href="https://{{ request.get_host }}{% url "config_pagamento_configuracao_emitir_boleto_teste" %}" class="btn btn-default" target="_blank"><span class="glyphicon glyphicon-barcode"></span> Gerar boleto de teste</a>
        </p>
    </div>
{% endif %}

<h4>Dados da empresa</h4>
<div class="form-group ">
    <label for="id_empresa_cnpj" class="control-label col-sm-3">CNPJ:</label>
    <div class="col-sm-6">
        <input class="form-control" id="id_empresa_cnpj" maxlength="18" name="empresa_cnpj" value="07.929.718/0001-06" type="text">
    </div>
</div>
<div class="form-group ">
    <label for="id_empresa_beneficiario" class="control-label col-sm-3">Beneficiário:</label>
    <div class="col-sm-6">
        <input class="form-control" id="id_empresa_beneficiario" maxlength="128" name="empresa_beneficiario" value="TESTE" type="text">
    </div>
</div>
<div class="form-group ">
    <label for="id_empresa_endereco" class="control-label col-sm-3">Endereço:</label>
    <div class="col-sm-6">
        <input class="form-control" id="id_empresa_endereco" maxlength="64" name="empresa_endereco" value="Rua sdfasd" type="text">
    </div>
</div>
<div class="form-group ">
    <label for="id_empresa_estado" class="control-label col-sm-3">Estado:</label>
    <div class="col-sm-6">
        <select class="form-control" id="id_empresa_estado" name="empresa_estado">
            <option value="--">--</option>
            <option value="AC">AC</option>
            <option value="AL">AL</option>
            <option value="AP">AP</option>
            <option value="AM">AM</option>
            <option value="BA">BA</option>
            <option value="CE">CE</option>
            <option value="DF">DF</option>
            <option value="ES">ES</option>
            <option value="GO">GO</option>
            <option value="MA">MA</option>
            <option value="MT">MT</option>
            <option value="MS">MS</option>
            <option value="MG">MG</option>
            <option value="PA">PA</option>
            <option value="PB">PB</option>
            <option value="PR">PR</option>
            <option value="PE">PE</option>
            <option value="PI">PI</option>
            <option value="RJ">RJ</option>
            <option value="RN">RN</option>
            <option value="RS">RS</option>
            <option value="RO">RO</option>
            <option value="RR">RR</option>
            <option value="SC">SC</option>
            <option value="SP">SP</option>
            <option value="SE">SE</option>
            <option value="TO">TO</option>
        </select>
    </div>
</div>
<div class="form-group ">
    <label for="id_empresa_cidade" class="control-label col-sm-3">Cidade:</label>
    <div class="col-sm-6">
        <input class="form-control" id="id_empresa_cidade" maxlength="64" name="empresa_cidade" value="sao paulo" type="text">
    </div>
</div>

<h4>Dados bancários</h4>
    <div class="form-group ">
    <label for="id_banco" class="control-label col-sm-3">Banco:</label>
    <div class="col-sm-6">
        <select class="form-control" id="id_banco" name="banco">
            {% for banco in bancos %}
                <option value="{{ banco.id }}">{{ banco.nome }}</option>
            {% endfor %}
        </select>
    </div>
</div>
<div class="form-group ">
    <label for="id_carteira" class="control-label col-sm-3">Carteira:</label>
    <div class="col-sm-6">
        <select class="form-control" id="id_carteira" name="carteira">
            {% for carteira in carteiras %}
                <option value="{{ carteira.id }}">{{ carteira.nome }}</option>
            {% endfor %}
        </select>
    </div>
</div>
<div class="form-group ">
    <label for="id_banco_agencia" class="control-label col-sm-3">Agência:</label>
    <div class="col-sm-6">
        <input class="form-control" id="id_banco_agencia" maxlength="4" name="banco_agencia" value="2003" type="text">
        <p class="help-block">Preencha a agência com 4 dígitos.</p>
    </div>
</div>
<div class="form-group ">
    <label for="id_banco_conta" class="control-label col-sm-3">Conta Corrente sem o dígito:</label>
    <div class="col-sm-6">
        <input class="form-control" id="id_banco_conta" maxlength="11" name="banco_conta" value="0032910" type="text">
        <p class="help-block">Preencha a conta corrente com 7 dígitos.</p>
    </div>
</div>
<div class="form-group ">
    <label for="id_banco_convenio" class="control-label col-sm-3">Convênio:</label>
    <div class="col-sm-6">
        <input class="form-control" id="id_banco_convenio" maxlength="7" name="banco_convenio" value="0000100" type="text">
        <p class="help-block">Preencha a código do convênio.</p>
    </div>
</div>

<h4>Instruções no boleto</h4>
<div class="form-group ">
    <label for="id_linha_1" class="control-label col-sm-3">Linha 1:</label>
    <div class="col-sm-6">
        <input class="form-control" disabled="disabled" id="id_linha_1" maxlength="64" name="linha_1" type="text" value="SR CAIXA NÃO ACEITAR APÓS VENCIMENTO." />
        <p class="help-block">Esta linha não pode ser alterada.</p>
    </div>
</div>
<div class="form-group ">
    <label for="id_linha_2" class="control-label col-sm-3">Linha 2:</label>
    <div class="col-sm-6">
        <input class="form-control" id="id_linha_2" maxlength="64" name="linha_2" value="Linha 2" type="text">
    </div>
</div>
<div class="form-group ">
    <label for="id_linha_3" class="control-label col-sm-3">Linha 3:</label>
    <div class="col-sm-6">
        <input class="form-control" id="id_linha_3" maxlength="64" name="linha_3" value="Linha 3" type="text">
    </div>
</div>
<h4>Descontos</h4>
<div class="form-group ">
    <label for="id_desconto_valor" class="control-label col-sm-3">Desconto aplicado:</label>
    <div class="col-sm-6">
        <div class="input-group">
            <input class="form-control" id="id_desconto_valor" name="desconto_valor" value="100" type="text">
            <span class="input-group-addon">%</span>
        </div>
    </div>
</div>
<div class="form-group ">
    <label for="id_aplicar_no_total" class="control-label col-sm-3">Aplicar no total?:</label>
    <div class="col-sm-6">
        <select class="form-control" id="id_aplicar_no_total" name="aplicar_no_total">
            <option value="True" selected="selected">Sim</option>
            <option value="False">Não</option>
        </select>
        <p class="help-block">Aplicar desconto no total da compra (incluir por exemplo o frete).</p>
    </div>
</div>

<div class="alert alert-info">
    <h4>Verifique todos os dados com atenção. Se algum campo for preenchido incorretamente o Boleto Bancário poderá não ser emitido ou, em alguns casos, o pagamento não poderá ser corretamente identificado. Após salvar, imprima o boleto de teste e faça o pagamento do mesmo para garantir o funcionamento.</h4>
</div>
