{% load filters %}
<div class="boleto-mensagem alert-message alert-message-warning">
    <div class="msg-warning">
        <p><img src="{{ STATIC_URL }}img/formas-de-pagamento/boleto-maior-logo.png"></p>
        <div class="content">
            <div id="aguarde">
                <h3>POR FAVOR AGUARDE, ANALISANDO DADOS</h3>
                <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="msg-success">
        <p><img src="{{ STATIC_URL }}img/formas-de-pagamento/boleto-maior-logo.png"></p>
        <div class="content">
            <div id="successMessage" style="display: none;">
                <h3>BOLETO PRONTO</h3>
                <h4>
                    Use a linha digitável abaixo para pagar ou use os botões abaixo para imprimir ou fazer download
                </h4>
                <div class="linha-digitavel">
                    <code id="linhaDigitavel"></code>
                </div>
                <div class="botoes-boleto">
                    <a href="{% url_loja 'checkout_pagador' pedido.numero pagamento.id %}?formato=html" id="imprimirBoleto" class="botao principal" target="_blank"><i class="icon-print fundo-principal"></i> Imprimir Boleto</a>
                    <a href="{% url_loja 'checkout_pagador' pedido.numero pagamento.id %}?formato=pdf" id="downloadBoleto" class="botao principal" target="_blank"><i class="icon-download fundo-principal"></i> Download Boleto</a>
                </div>
            </div>
        </div>
    </div>
    <div class="msg-danger">
        <p><img src="{{ STATIC_URL }}img/formas-de-pagamento/boleto-maior-logo.png"></p>
        <div class="content">
            <h3>ERRO NA TRANSMISSÃO</h3>
            <p class="lead">
                Seu pagamento não foi concluído. <span class="click">Para tentar novamente clique no botão abaixo:</span>
            </p>
            <p class="lead">
                <button type="button" class="botao principal pagar">Efetuar pagamento</button>
            </p>
            <p>
                <code id="errorMessage">500: NAO FOI POSSIVEL PROCESSAR POR FALTA DE CRÉDITO</code>
            </p>
        </div>
    </div>
</div>
