{% load filters %}
{% if modo == "padrao-novo" %}
    <li class="pagamento lista-item" id="pagamento_8" data-id="8" data-nome="Boleto Bancário">
        <div class="radio_button">
            <input data-desconto_tipo="{{ pagamento.desconto_tipo }}" data-desconto="{{ pagamento.desconto_valor|floatformat:'%.2f' }}" class="forma_pagamento" type="radio" value="8" name="forma_pagamento" {% if forma_pagamento == pagamento.id|stringformat:"s" %}checked="checked"{% endif %} />
        </div>
        <div class="pagamento_imagem">
            <img src="{{ STATIC_URL }}img/formas-de-pagamento/checkout-boleto-logo.png" title="Pague com Boleto" alt="Pague com Boleto" />
        </div>
        {% if pagamento.desconto and pagamento.desconto_valor %}
            {% if pagamento.desconto_tipo == 'porcentagem'%}
            <strong style="color:red">
                Desconto de {{pagamento.desconto_valor}}%
            </strong>
            {% else %}
                <strong style="color:red">
                  Desconto de R$ {{pagamento.desconto_valor|formatar_decimal_br}}
                </strong>
            {% endif %}
        {% endif %}
    </li>
{% else %}
    <div class="accordion-group boleto">
        <label for="{% if modo == 'modal' %}modal-{% endif %}radio-boleto" class="accordion-heading{% if modo == 'modal' %} forma-pagamento-modal{% endif %}" data-toggle="collapse" data-target="#{% if modo == 'modal' %}modal-{% endif %}escolha-boleto" data-parent="#{% if modo == 'modal' %}modalFormasPagamento{% else %}formasPagamento{% endif %}" id="{% if modo == 'modal' %}modal{% endif %}pagamento8">
            <span class="radio-conteiner">
                <input type="radio" name="forma_pagamento" id="{% if modo == 'modal' %}modal-{% endif %}radio-boleto" {% if forma_pagamento == pagamento.id|stringformat:"s" %}checked="checked"{% endif %} value="8">
            </span>
            <span class="forma-conteiner text-right">
                <img src="{{ STATIC_URL }}novo-template/img/bandeiras/boleto.png" title="Pague com Boleto" alt="Pague com Boleto">
                {% if pagamento.desconto and pagamento.desconto_valor %}
                    {% if pagamento.desconto_tipo == 'porcentagem' %}
                    <span class="cor-secundaria">
                        Desconto de <b class="cor-principal">{{ pagamento.desconto_valor }}%</b>
                    </span>
                    {% else %}
                    <span class="cor-secundaria">
                        Desconto de <b class="cor-principal">R$ {{ pagamento.desconto_valor|formatar_decimal_br }}</b>
                    </span>
                    {% endif %}
                {% endif %}
            </span>
        </label>
        <div id="{% if modo == 'modal' %}modal-{% endif %}escolha-boleto" class="collapse">
            <div class="accordion-inner">
                <div class="text-right">
                    <span>Valor</span>
                    <h5 class="titulo cor-principal text-right pagamento-valor preco-carrinho-total">
                        R$ {{ carrinho_subtotal|formatar_decimal_br }}
                    </h5>
                </div>
            </div>
        </div>
    </div>
{% endif %}